body {
  background-color: darkslategray;
}


/* Form styling */

@media all and (min-width: 480px) {
    .auth-form {
      padding: 60px 0;
      text-align: center;
    }
  
    .auth-form form {
      margin: 0 auto;
      max-width: 320px;
    }
}

@media all and (max-width: 479px) {
    .auth-form {
      padding: 60px 0;
      text-align: center;
    }
  
    .auth-form form {
      margin: 0 auto;
      max-width: 300px;
    }
}


.error-msg{
  color: red;
}